*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

body {
    background-color: #222d33;
    display: flex;
    justify-content: space-between;
}
#alert{
    color: red;
}
/*ESTILO DO LOGIN*/
#fundologin{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.indexContainer{
   
    transition: background 1s ease;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
}
.indexContainer .ladoesquerdo{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    
}
.indexContainer .ladodireito{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
   
}
.ladodireito .loginContainer{
    display: flex;
    justify-content: center;
    border: 2px solid #000;
       width: 350px;
       padding: 50px;
       border-radius: 20px;
       background-color: #131212;
       max-height: 400px;
}
.loginContainer .title{
    margin-bottom: 10px;
   color: #fff;
}
.loginContainer .buttonbox{
    margin-top: 10px;
    background-color: rgb(255, 2, 2);
    width: 100%;
    height: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    transition: 0.4s ease;
    align-items: center;
    flex-wrap: nowrap;
}
.loginContainer .buttonbox:hover{
    transform: scale(1.05);
    background-color: rgb(218, 2, 2);
    }
    .loginContainer span{
        color:  red;
    }
    .loginContainer #loginbutton{
        border: none;
        background: none;
        color: #fff;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
    }
    body .loginContainer label{
        color: #fff;
    }
    body .loginContainer input{
        width: 290px;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    body .loginContainer .appname{
        margin-bottom: 10px;
    }
    body .loginContainer .appname h2{
        color: #fff;
        font-size:27px;
    }
    /*FIM DO ESTILO DO LOGIN*/
    /*ESTILO DO POPUP DO LOGIN*/
    #popuplogin{
        background: black;
        width: auto;
        
        top:10%;
        left: 10%;
    }
    .popup {
        position: fixed;
        top: 48%;
        left: 80.5%;
        transform: translate(-50%, -50%);
        width: 500px;
        border-radius: 5px;
        display: none;
        z-index: 1999;
        padding: 12px;
        background: #fff;
    }
    #popup-message{
        margin-left: 20px;
        color: #000;
        font-size: 20px;
    }
    #popup-messagelogin{
        color: #000;
        font-size: 15px;
    }

    .popup.show {
        display: block;
    }

    .popup p {
        margin: 0 0 20px;
        font-weight: 500;
        color: #fff;
        font-size: 14px;
    }

    .popup .closepop {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 16px;
        color: #aaa;
    }

    .popup .closepop:hover {
        color: #333;
    }
    .msg {
      background-color: #fff;
        position: fixed;
        transform: translate(-50%, -50%);
        width: auto;
        border-radius: 5px;
        display: none;
        z-index: 1999;
        padding: 10px;
        border: 2px solid #000;
    }
#meio{
    margin-left: 23%;
    color: #000;
    font-size: 20px;
}
    .msg.show {
        display: flex;
        justify-content: center;
        align-items: center;
    }
#msg-message{
    margin-top: 15px;
}
    .msg p {
        margin: 0 0 20px;
        font-weight: 700;
        color: #000;
        font-size: 14px;
    }

    .msg .closepop {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 16px;
        color: #aaa;
    }

    .msg .closepop:hover {
        color: #333;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 999;
    }

    .overlay.show {
        display: block;
    }
    .overlaydash {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 999;
    }

    .overlaydash.show {
        display: block;
    }
    /*ESTILO DO MENU LATERAL*/
    .menulateral {
        display: flex;
        flex-direction: column;
        width: 20.3%;
        height: 100%;
        position: fixed;
        background-color: #222d33;
        border-right: 2px solid rgb(121, 121, 121);
        ;
    }
    .menulateral .logo {
        width: 100%;
        height: 4%;
    }
    
     .menulateral .logo h1 {
        margin-left: 10px;
        font-size: 15px;
        color: #fff
    }
    
     .menulateral .user {
        width: 100%;
        height: 18%;
        border-bottom: 2px solid rgb(121, 121, 121);
    }
    
     .menulateral .box {
        margin-top: 10px;
    
        width: 100%;
        height: 80%;
    }
    
     .menulateral .box .options {
        transition: 0.6s ease;
        display: flex;
        align-items: center;
        width: 100%;
        height: 10%;
        cursor: pointer;
    }
    
     .menulateral .box .options:hover {
        background-color: #13181b;
        border-left: 2px solid red;
    }
    
     .menulateral .box .options .img {
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 19%;
        height: 100%;
    
    }
    
     .menulateral .box .options .img svg {
        width: 60%;
        height: 60%;
    }
    
     .menulateral .box .options a {
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;
        color: #fff;
        margin-left: 10px;
    }
    
     .menulateral .user {
        align-items: center;
        display: flex;
        width: 100%;
        height: 10%;
    }
    
     .menulateral .user .userimg {
        margin-left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 30px;
    }
    
     .menulateral .user .box {
        margin-top: -2px;
        display: flex;
        width: 100%;
        height: 55%;
        align-items: center;
    }
    
     .menulateral .user .box .status .statuscolor {
        width: 15px;
        height: 15px;
    }
    
     .menulateral .user .box .status {
        margin-left: -64px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
     .menulateral .user .box .status p {
        font-weight: 400;
        color: #fff;
        margin-left: 20px;
        transform: translate(0px, -3px);
    }
    
     .menulateral .user .box .username {
    
        margin-bottom: 30px;
        margin-left: 10px;
    }
    
     .menulateral .user .box .username p {
        color: #fff;
    }
    /*ESTILO MENULATERAL OPÇÕES SELECIONADAS*/

#fornecedores {
    background-color: #13181b;
    border-left: 2px solid red;
}

#optHome {
    background-color: #13181b;
    border-left: 2px solid red;
}
#optPagamentoP {
    background-color: #13181b;
    border-left: 2px solid red;
}
/*ESTILO DO PAINEL*/
.painel {
    margin-top: 2%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: AUTO;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  table th, table td {
    border: 1px solid #e74c3c; /* Bordas vermelhas */
    padding: 10px;
    text-align: left;
  }

  table th {
    background-color: #e74c3c; /* Fundo vermelho para o cabeçalho */
    color: white; /* Texto branco para contraste */
  }

  table tr:nth-child(even) {
    background-color: #ffe6e6; /* Fundo mais claro para linhas pares */
  }

  table tr:nth-child(odd) {
    background-color: #fff; /* Fundo branco para linhas ímpares */
  }

  table tr:hover {
    background-color: #ffcccc; /* Fundo vermelho claro ao passar o mouse */
  }


 .linhasuperior {
    position: fixed;
    margin-left: 20.3%;
    width: 80%;
    height: 3.9%;
}

 .painel #titulof {
    display: flex;
    width: 100%;
    height: 47px;
}
.painel .titulo {
    display: flex;
    width: 100%;
    height: 52px;
}
 .painel .titulo h1 {
    margin-left: 20px;
    color: #fff;
    font-weight: 400;
}
 .painel .titulo p {
    color: #fff;
    font-weight: 400;
    margin-left: 10px;
}
#dashboardf{
    height: 1900px;
    background-color: #222d33;
}
#dashboardcriaraluno{
    gap: 40px;
    height: 3350px;
    display: flex;
    flex-direction: column;
    background-color: #222d33;
}
.dashboard {
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgb(121, 121, 121);
    margin-top: 10px;
    margin-left: 5px;
    width: 99%;
    height: auto;
    background-color: #222d33;
}
.dashboardalunos {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 5px;
    width: 99%;
    height: auto;
    background-color: #222d33;
    border-top: 2px solid rgb(121, 121, 121);
}
.painel .dashboard{
    margin: 5px;
}
.painel .dashboard .editaraluno .icon {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    border-radius: 10px;
}
 .painel .dashboard .editaraluno .texto p {
    color: #fff;
    font-weight: 500;
}
 .painel .dashboard .editaraluno .icon svg {
    width: 80%;
    height: 80%;
}

 .painel .dashboard .editaraluno .texto {
    margin-left: 5px;
}

 .painel .dashboard .editaraluno .texto p {
    color: #fff;
    font-weight: 500;
}
 .painel .dashboardalunos .editaraluno .texto p {
    color: #fff;
    font-weight: 500;
}
 .painel .dashboardalunos .editaraluno .icon svg {
    width: 80%;
    height: 80%;
}

 .painel .dashboardalunos .editaraluno .texto {
    margin-left: 5px;
}

 .painel .dashboardalunos .editaraluno .texto p {
    color: #fff;
    font-weight: 500;
}
.cadastro {
    align-items: center;
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 15%;
    height: 40px;
    background-color: #ff0000;
    border-radius: 10px;
}
.editaraluno:hover{
background-color: #16b002;
}
.editaraluno {
    align-items: center;
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 15%;
    height: 40px;
    background-color: #00ff2a;
    border-radius: 10px;
}
.btnvender {
    align-items: center;
    display: flex;
    margin-top: 40px;
    margin-left: 0px;
    margin-bottom: 10px;
    width: 20px;
    height: 40px;
    background-color: #0099ff;
    border-radius: 10px;
}
 .btnvender .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    border-radius: 10px;
}
.icon {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    border-radius: 10px;
}
 .painel .dashboard .cadastro .icon {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    border-radius: 10px;
}
 .painel .dashboardalunos .cadastro .icon {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    border-radius: 10px;
}
.texto p {
    color: #fff;
    font-weight: 500;
}
 .painel .dashboard .cadastro .texto p {
    color: #fff;
    font-weight: 500;
}
.btnvender .icon svg{
    width: 80%;
    height: 80%;  
}
 .painel .dashboard .cadastro .icon svg {
    width: 80%;
    height: 80%;
}
.icon svg {
    width: 80%;
    height: 80%;
}
 .painel .dashboard .cadastro .texto {
    margin-left: 5px;
}

 .painel .dashboard .cadastro .texto p {
    color: #fff;
    font-weight: 500;
}
 .painel .dashboard .cadastro .texto p {
    color: #fff;
    font-weight: 500;
}
 .painel .dashboardalunos .cadastro .icon svg {
    width: 80%;
    height: 80%;
}

 .painel .dashboardalunos .cadastro .texto {
    margin-left: 5px;
}

 .painel .dashboardalunos .cadastro .texto p {
    color: #fff;
    font-weight: 500;
}
.texto p {
    color: #fff;
    font-weight: 500;
}

 .painel .dashboard .linhasuperiorcadastro {
    margin-left: 10px;
    width: 98%;
    height: 75px;

}

 .painel .dashboard .listafornecedores {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid #c7c7c7;
    border-left: 2px solid #c7c7c7;
    border-bottom: 2px solid #c7c7c7;
    margin-left: 10px;
    width: 98%;
    height: 91%;
}

 .painel .dashboard .listafornecedores th {
    font-size: 12px;
    width: 600px;
}

 .painel .dashboard .listafornecedores td {
    font-size: 12px;
    width: 100px;
}

#painelf {
    flex-direction: column;
    height: AUTO;
}

#linhasuperiorf {
    position: fixed;
    width: 100%;
    height: 3.84%;
    background-color: #4191bd;
}

#titulof {
    flex-direction: column;
}

#h1titulof {
    margin-top: 1%;
}

#titulopainel {
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 86vh;
}

fieldset {
    width: 50%;
    border: none;
    margin-left: 20px;
    height: auto;
}
#ladodireito{
    width: 70%;
}
#ladodireito input[type="text"]{
    margin-left: 280px;
}

.fieldsetcontainer {
    margin-top: 10px;
    height: auto;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
#search{
    padding: 2px;
    height: 30px;
    margin-bottom:20px;
}
#buttonpesquisa{
    width: 100%;
    background: none;
    border: none;
    margin-left: 7px;
    
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 100%;
    
    border-left: 1px solid #000;
}
#inputpesquisa, #inputpesquisadesativado, #inputpesquisaproximos, #inputpesquisaignorado{
    padding: 5px;
    height: 100%;
    width: 83%;
    background: none;
    border:none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.boxpesquisa{
    margin-left: 285px;
    display: flex;
    align-items: center;
    margin-top:14px;
    width: 250px;
    height: 40px;
    background-color: #ffffffaf;
border-radius: 20px;
 border: 1px solid #000;
}
.hidden {
    display: none;
}
/* Oculta elementos com a classe hidden */

/* Garante que a tabela ocupe 100% da largura */
#tabelaresultado {
    width: 100%;
    border-collapse: collapse; /* Remove espaços entre as células */
}
.boxpesquisa2{
    margin-left: 466px;
    display: flex;
    align-items: center;
    margin-top:14px;
    width: 250px;
    height: 40px;
    background-color: #ffffffaf;
border-radius: 20px;
 border: 1px solid #000;
}
.boxpesquisa3{
    margin-left: 620px;
    display: flex;
    align-items: center;
    margin-top:14px;
    width: 250px;
    height: 40px;
    background-color: #ffffffaf;
border-radius: 20px;
 border: 1px solid #000;
}
#nomealuno{
    max-width: 200px;
}
button[type="submit"]:hover{
    transform: scale(1.05);
}
#svgiconssearch{
    width: 20px;
    height: 20px;
}


span {
    color: red;
}
.alinharinput{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    gap:0px;

}
    #btncadastro{
        width: 150px;
        border: none;
        transition: 0.6s ease;
        cursor: pointer;
    }
    #btncadastro2{
        width: 150px;
        border: none;
        transition: 0.6s ease;
        cursor: pointer;
    }
    #btneditar{
        width: 150px;
        border: none;
        transition: 0.6s ease;
        cursor: pointer;
    }
    #btnvoltar{
        border: none;
        transition: 0.6s ease;
        cursor: pointer;
        background-color: #ffae00;
    }
    #btnvoltar2{
        border: none;
        transition: 0.6s ease;
        cursor: pointer;
        background-color: #ffae00;
    }
    #btnfechar{
        
        border: none;
        transition: 0.6s ease;
        cursor: pointer;
        background-color: #ff0000;
    }
    #txtbotao{
        color:white;
    }
    .boxbotoes{
        display: flex;
        width: 100%;
        flex-direction: column;
        
        height: 100%;
   
    }
    #btnpagos{
        background-color: #188f00;
        transition: 0.6s ease;
    }
    #btnpagar{
        width: 30%;
        border: none;
        transition: 0.6s ease;
        cursor: pointer;
        background-color: #00aeff;
    }
    #btnrefresh{
        border: none;
        transition: 0.6s ease;
        cursor: pointer;
        background-color: #2afc00;
    }
    #btnrefresh2{
        border: none;
        transition: 0.6s ease;
        cursor: pointer;
        background-color: #2afc00;
    }
    #btnvoltarf{
        border: none;
        transition: 0.6s ease;
        cursor: pointer;
        background-color: #ffae00;
    }
    #btn{
        border: none;
        transition: 0.6s ease;
        cursor: pointer;
    }
    #btncadastro:hover{
    background-color:#b30202;
    }
    #btnvoltar:hover{
        background-color:#c58701;
        }
        #btnfechar:hover{
            background-color:#c50101;
            }
            #btnpagar:hover{
                background-color:#0187c5;
                }
        #btnrefresh:hover{
            background-color:#1fb800;
            }
        #btnvoltarf:hover{
            background-color:#c58701;
            }
    a{
        text-decoration: none;
    }
    .alinharbtn{
        display: flex;
        gap:10px;
    
        height: auto;
    }
    #desc{
        height: 90px;
    }
    #cidadef{
        margin-bottom: 0px;
    }
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000;
    border-left: none;
    padding: 4px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
#par_q{
    width: 900px;
    margin-left: 80px;
    margin: 20px auto;
    width: fit-content;
}
.parq h1 {
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    width: fit-content;
}
#h1medidas{
    font-size: 15px;
    margin-left: 420px;
}
#acoespainel{
    width: 120px;
}
.actions{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    width: 100%;
    height: 70%;
}
.actionspainel{
    display: flex;
    gap: 0px;
    justify-content: space-around;
    width: 100%;
    height: 70%;
}
.ver-detalhes, .editar, .apagar, .ativar, .medidas, .finalizarpagamento, #atualizar, #fecharpagamento{
    all: unset; /* Remove todos os estilos padrão */
  cursor: pointer; /* Adiciona um cursor de ponteiro */
}
.boxopcficha{
display: flex;
    width: 100%;
    justify-content: space-between;
}
#atualizar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    transition: 0.6s ease;
    width: 85px;
    background-color: #16b002;
    color: #fff;
border-radius: 15px;
}
#atualizar:hover{
    transform: scale(1.05);
}
#atualizar p{
    margin-left: 5px;
}
#fecharpagamento{
    transition: 0.6s ease;
    width: 70px;
    background-color: #b00202;
    color: #fff;
border-radius: 15px;
}
#fecharpagamento:hover{
    transform: scale(1.05);
}
#fecharpagamento p{
    margin-left: 5px;
}
#acticons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: blue;
    transition: 0.6s ease;
}
#acticonsfinalizar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #FFF;
    transition: 0.6s ease;
}
#acticons:hover{
    background-color: rgb(0, 0, 124);
}

#acticonsedit:hover{
    background-color: rgb(230, 200, 33);
}
#acticonsapagar:hover{
    background-color: rgb(185, 1, 1);
}
#acticonsedit{
    transition: 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(255, 217, 0);
}
#acticonsignorar{
    transition: 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;

}
#acticonsapagar{
    transition: 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
}
#acticonsativar:hover{
    background-color: rgb(0, 170, 0);;
}
#acticonsativar{
    transition: 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(0, 255, 13);
}
#acticonsmedir{
    transition: 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(0, 255, 64);
}
#acticonszap{
    transition: 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    margin-top: 2px;
    border-radius: 20px;
    background-color: rgb(255, 217, 0);
}
#acticonsmedir:hover{
    background-color: rgb(0, 190, 48);
}
#svgiconsact{
    width: 85%;
    height:  85%;
}

#ladodireitoinput{
    width: 100px;
}
#th{
    width: 300px;
}
.boxpagamento{
    display: flex;
    width: 100%;
    align-items: center;
}
.boxsitu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    
}

/*ESTILO DAS CONFIGURAÇÕES*/
#menuConfig{
    display: flex;
    display: none;
}
.config-box{
    width: 100%;
    height: 80%;
}
.config-title{
    width: 100%;
    height: 25px;

    border-bottom: 2px solid rgb(121, 121, 121);
}
.config-title p{
    margin-left: 5px;
    color: #fff;
}
.config-label{
    color: #fff;
}
.config-input{
    color: #fff;
    width: 98%;
}
#config-form input[type="text"]{
    width: 98%;
}
.button-box{
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;

}
.button-box .save-btn{
    border-radius: 10px;
    color: #fff;
    border: none;
    background: none;
    background-color: #ff0000;
}
.button-box .back-btn{
    border-radius: 10px;
    color: #fff;
    border: none;
    background: none;
    background-color: #ffae00;
}
#config-menu{
    display: none;
}
.sairbtn{
    background: none;
    border: none;
    color: #fff;
    transition: 0.6s ease;
    cursor: pointer;
}

/*ESTILO DOS ALUNOS*/
#labelaluno{
    font-size: 12px;
}
/*ESTILO DA TELA DE LOGIN*/
#body-login-page{
    background-image: url(/academy/assets/img/login-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
}
body .login-container{
    display: flex;
border: 2px solid #000;
   max-width: 300px;
   padding: 50px;
   border-radius: 20px;
   background-color: #131212;
   max-height: 400px;
}
body .login-container .title{
    margin-bottom: 10px;
   color: #fff;
}
body .login-container .buttonbox{
    margin-top: 10px;
    background-color: rgb(255, 2, 2);
    width: 203px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    transition: 0.4s ease;
    align-items: center;
    flex-wrap: nowrap;
}
body .login-container .buttonbox:hover{
transform: scale(1.05);
background-color: rgb(218, 2, 2);
}
body .login-container span{
    color:  red;
}
body .login-container #loginbutton{
    border: none;
    background: none;
    color: #fff;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}
body .login-container label{
    color: #fff;
}
body .login-container input{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}
body .login-container .appname{
    margin-bottom: 10px;
}
body .login-container .appname h1{
    color: #fff;
    font-size:30px;
}
/*ESTILO DO POPUP DO LOGIN*/
#popup{
    left: 50%;
    top: 13%;
}
#copy{
    display: block;
    text-decoration: none;
    margin-top: 7px;
    margin-left: -2px;
    font-size: 12px;
    color: white;
}
#resultado2{
    display: none;
}
#popupalunos{
    width: 370px;
    left: 60%;
}
#popuppagamentos{
    width: 460px;
    left: 60%;
}
#popuppagamentos2{
    width: auto;
    left: 61%;
    top:50%;
}
#resultadodesativado2{
    display: none;
}
#popupalunos #popup-message{
   margin-left: 8px;
}
#mode{
    color:#fff;
    font-size: 12px;
    margin-top: 2px;
}
#btndesativados{
    background-color: #000000;
    transition: 0.6s ease;
}
#btndesativados:hover{
background-color: #303030;
}
#btnignorados{
    background-color: #000000;
    transition: 0.6s ease;
}
#btnignorados:hover{
background-color: #5c5b5b;
}
#btnativos{
    background-color: #1ca800;
    transition: 0.6s ease;
}

#btnativos:hover{
    background-color: #007c1f;
}
#paineldesativado{
    display: none;
}
#painelproximos{
    display: none;
}
#optAlunosA{
    background-color: #13181b;
    border-left: 2px solid red;
}
#good{
    color:#16b002;
}

.ficha {

    width: 400px;
    height: 400px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-y: auto;
}
.ficha h3 {
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
}

.ficha p {
    margin: 2px 0;
}
.tabelaPagamento {
    width: 100%;
    height: 400px;
    border-collapse: collapse;
}

.tabelaPagamento th, .tabelaPagamento td {
    text-align: left;
    padding: 2px;
    border: 1px solid #ddd;
}

.tabelaPagamento th {
    background-color: #f1f1f1;
}

.status {
    font-weight: bold;
}

.status.pago {
    color: green;
}

.status.pendente {
    color: red;
}

.total {
    font-weight: bold;
    text-align: right;
}

.ano-seletor {
    text-align: center;
    margin-bottom: 5px;
}

.ano-seletor select {
    padding: 3px;
    font-size: 12px;
}
.ajustainput{
    width: 50%;
    transform: translate(-280px, 0px);
}




.container {
    display: flex;
    flex-direction: row;
    background-color: #222d33;
gap: 40px;

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 1920px;

}
.container .ladoesquerdoform .ladodireitoform h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Estilo do formulário */
.container .ladoesquerdoform .ladodireitoform form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaçamento entre os campos */
}

/* Grupos de formulário */
.container .ladoesquerdoform  form .form-group {
    display: flex;
    flex-direction: column;
    width: 490px;
}
#h1endereco{
    color:#e74c3c;
    margin-top: 10px;
    margin-bottom: -5px;
margin-left: 168px;
margin-right: -20px;
}
#h1objetivo{
   
    margin-top: 10px;
    color:#e74c3c;
    margin-left: 77px;
}
#naacademia{
    margin-left: 57px;
    color: #e74c3c;
}
#historicoS{
    color:#e74c3c;
    margin-left: 85px;
}
#h1estilo{
    margin-bottom: -5px;
    margin-top: 10px;
    color:#e74c3c;
    margin-left: 130px;
}
#h1dados{
    color:#e74c3c;
    margin-top: 10px;
    margin-bottom: -5px;
    margin-left: 42px;
}
#edesaude{
    color:#e74c3c;
    margin-top: 10px;
    margin-bottom: -5px;
    margin-left: 110px;
}
.form-titulo h1{
    color:#e74c3c;
margin-left: 70px;
margin-right: auto;
}
/* Rótulos */
.container  .ladoesquerdoform  form .form-group label {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
}

/* Campos de entrada */
.container .ladoesquerdoform form .form-group input,
.container .ladoesquerdoform  form .form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

/* Botão */
.container  .ladoesquerdoform form button {
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container  .ladoesquerdoform form button:hover {
    background-color: #0056b3;
}

/* Estilo do formulário */

/* Grupos de formulário */
.container .ladodireitoform  .form-group {
    display: flex;
    flex-direction: column;
    width: 490px;
}

/* Rótulos */
.container  .ladodireitoform  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #ffffff;
}

/* Campos de entrada */
.container .ladodireitoform  .form-group input,
.container .ladodireitoform   .form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

/* Botão */
.container  .ladodireitoform  button {
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.container  .ladodireitoform  button:hover {
    background-color: #0056b3;
}
button.vizualiza {
    padding: 5px 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button.vizualiza:hover {
    background-color: #0056b3;
  }
  
  /* Modal styles */
  .janela-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    text-align: center;
  }
  
  .modal-content .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  button.change-year {
    padding: 5px 10px;
    margin: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button.change-year:hover {
    background-color: #218838;
  }



  #titulo-parq {
    color: #e74c3c; /* Tom de vermelho para o título */
    margin-bottom: 30px;
}

/* Estilos da tabela */
#tabela-parq {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#tabela-parq th, #tabela-parq td {
    padding: 15px;
    text-align: left;
    font-size: 16px;
}

#tabela-parq th {
    background-color: #e74c3c; /* Cabeçalho vermelho */
    color: white;
   
}

#tabela-parq td {
    border-bottom: 1px solid #ddd;
}

/* Efeito para a linha ao passar o mouse */
#tabela-parq tr:hover {
    background-color: #f1f1f1;
}

/* Estilo dos inputs de radio */
#tabela-parq input[type="radio"] {
    margin-right: 10px;
}

/* Diminuir largura das colunas SIM e NÃO */
#tabela-parq .sim, #tabela-parq .nao {
    width: 10%;
}

/* Estilo para as colunas de questões */
#tabela-parq .questao {
    width: 50%;
    font-size: 14px;
    color: #34495e;
}

/* Adicionando uma borda ao redor da tabela */
#tabela-parq {
    border: 2px solid #e74c3c; /* Bordas vermelhas */
}

/* Estilos para os botões de rádio */
#tabela-parq input[type="radio"] {
    width: 20px;
    height: 20px;
}

/* Estilo para a última linha (sem borda inferior) */
#tabela-parq tr:last-child td {
    border-bottom: none;
}

/* Novos estilos para cabeçalhos */
#sim-header {
    background-color: #e74c3c;
    color: white;
    font-weight: bold;
}

#nao-header {
    background-color: #e74c3c;
    color: white;
    font-weight: bold;
}

#questao-header {
    background-color: #e74c3c;
    color: white;
    font-weight: bold;
}
/* Estilos para a tabela */
#tabela-medidas {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#tabela-medidas th, #tabela-medidas td {
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

#tabela-medidas th {
    background-color: #e74c3c; /* Cabeçalho vermelho */
    color: white;
    
}

#tabela-medidas td {
    border-bottom: 1px solid #ddd;
}

/* Efeito para a linha ao passar o mouse */
#tabela-medidas tr:hover {
    background-color: #f1f1f1;
}

/* Estilo para os inputs de texto */
#tabela-medidas input[type="text"] {
    width: 80%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

/* Ajuste no margin-right */
#tabela-medidas input[type="text"] {
    margin-right: 5px;
}

/* Diminuir largura das colunas de entrada */
#tabela-medidas .input-coluna {
    width: 35%;
}

/* Estilo para a última linha (sem borda inferior) */
#tabela-medidas tr:last-child td {
    border-bottom: none;
}

/* Estilos para as colunas de entradas */
#tabela-medidas .input-coluna {
    text-align: center;
}
.paga_titulo {
    color: #e74c3c; /* Tom de vermelho */
    font-weight: bold;
    margin-left: 43%;
    font-size: 22px;
}

/* Estilos para a tabela */
#tabela-pagamento {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#tabela-pagamento th, #tabela-pagamento td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

#tabela-pagamento th {
    background-color: #e74c3c; /* Cabeçalho vermelho */
    color: white;
    
}

#tabela-pagamento td {
    border-bottom: 1px solid #ddd;
}

/* Efeito para a linha ao passar o mouse */
#tabela-pagamento tr:hover {
    background-color: #f1f1f1;
}

/* Estilo para os inputs de texto */
#tabela-pagamento input[type="text"], 
#tabela-pagamento input[type="date"] {
    width: 100%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}
#lesao_detalhes_input{
    border: 2px solid red;
}
#coluna_detalhes_input{
    border: 2px solid red;
}
#doenca_detalhes_input{
    border: 2px solid red;
}
/* Ajuste nos botões */
#cadastraluno {
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e74c3c; /* Cor vermelha */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.boxbtn{
    justify-content: center;
    display: flex;
    width:100%;
    height:auto;

}
#iconbtn{
    margin-left: -10px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}
#btntxt{
    margin-top: 5px;
}
#cadastralunovoltar {
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e29402; /* Cor vermelha */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    height: 48px;
    width: 135px;
}

#cadastralunovoltar:hover {
    background-color: #a86d00;/* Cor de fundo mais escura ao passar o mouse */
    transform: scale(1.05);
}

#cadastraluno:hover {
    background-color: #c0392b; /* Cor de fundo mais escura ao passar o mouse */
}
h1{
    color: #ffffff;
}
#th-valor{
width: 50%;
}